a:hover, .link_icon:hover  {
    color: $colorOther;
    fill: $colorOther;
}


.project {
    display: grid;
    grid-template-columns: 45% 45%;
    
    gap: 3%;
    padding: 5% 2%;
    margin: 5% 5%;
    max-width: 1360px;
    background-color: $colorLight;

    &__left {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }

    &__img {
        object-fit: cover;
        width: 90%;
        height: 340px;
        padding: 2%;
        background-color: $colorDarkLight;
        transition: 0.3s;
    }

    &__img:hover {
        transform: scale(1.1);
    }

    &__links {
        display: flex;
        justify-content: start;
        gap: 2%;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    &__links a {
        display: flex;
        gap: 4px;
    }


    &__right {
        padding: 2%;
        font-size: 1rem;
        background-color: white;
        
    }
    &__right h2 {
        text-align: center;
    }
}

.link_icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 767px) {
    .project {
        display: flex;
        flex-wrap: wrap;
        
    &__left {
        margin-bottom: 3%;
    }
    }
}